<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.team.univ.persistence.DepartmentDAO">

	<!-- 회원가입 - 학과 리스트 -->
	<select id="selectDept" resultType="com.team.univ.vo.DepartmentVO">    
		SELECT * 
		  FROM college c
		  JOIN department d
		    ON c.c_no = d.c_no
	</select>
	
	<!-- 학부별 학과 리스트 -->
	<select id="selectDeptByCollege" resultType="com.team.univ.vo.DepartmentVO">    
		SELECT * 
		  FROM college c
		  JOIN department d
		    ON c.c_no = d.c_no
		 WHERE c.c_no = #{c_no.c_no}
	</select>
	
</mapper>